.widget
  %h3.title
    Facebook
  .content
    %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&width=230&height=590&colorscheme=light&show_faces=true&border_color&stream=true&header=true&appId=400962593297593", :style => "border:none; overflow:hidden; width:230px; height:590px;"}
    