.widget.bkg
  %h3.title
    %i.icon-envelope-alt
    Newsletter
  .content
    #user_nav
      Enter your email to be included in our mailing list.
      %center
        = text_field_tag "email_address"