.widget
  %h3.title
    %i.icon-comments
    Recent Blog Posts
  .content
    %ul.list
      - @blog_posts.each do |blog_post|
        %li
          .link
            = link_to "" do
              %i.icon-chevron-right
              = blog_post.title
          .content
            = truncate(Sanitize.clean(blog_post.content), :length => 200)

            