.widget
  %h3.title
    %i.icon-comments
    Recent Blog Posts
  .content
    %ul.list
      - @blog_posts.each do |blog_post|
        %li.recent_blog_posts
          .link
            = link_to blog_path(blog_post.slug) do
              %i.icon-chevron-right
              = truncate(blog_post.title, :length => 50)
          .content
            = truncate(Sanitize.clean(blog_post.content), :length => 80)

