@import "bourbon";
@import "select2";

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
  -o-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}

@mixin text-shadow($x, $y, $color){
  text-shadow: $x $y 0px $color;
  filter: dropshadow(color=$color, offx=$x, offy=$y);
}

@import "dashboard";
@import "soulmate";
