body{
  padding: 0;
  margin:0;
  color: #5b5b5b;
  background-color:#edefea;
}
a{
  color:#4d84de;
  &:hover{
    text-decoration:none;
  }
}
.heading{
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 18px;
  padding-bottom: 5px;
  .btn{
    vertical-align:bottom;
    margin-left:10px;
  }
}

.table{
  font-size:12px;
}
.table thead th {
  background-color:#f4f4f4;
  color:#464747;
  font-weight:normal;
}





.navbar-fixed-top, .navbar-fixed-bottom {z-index:999}
.navbar-fixed-top .nav-collapse i {opacity:0.8}
.navbar-fixed-top .nav-collapse li:hover i {opacity:1}
.nav-list > li > a,.dropdown-menu li a {-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}

.label {cursor:default}
.label-important,.badge-error {background: #C62626}
.label-success,.badge-success {background: #70A415}
.label-warning,.badge-warning {background: #F5AA1A}
.label-info,.badge-info {background: #058DC7}


.main_content .accordion-heading .accordion-toggle {background:#f5f5f5;color:#222;text-decoration:none}
.main_content .accordion-heading .accordion-toggle:hover {background:#e5e5e5}


// Header, Logo, and User Area
.navbar{
  height:50px;
  margin:0;
  padding:0;
  

  .navbar-inner {
    background: #4d84de;
    border-top: 1px solid #254d8b;
    border-bottom: 1px solid #254d8b;
    
    .brand{
      margin:0;
      padding:0;
      padding-top:10px;
      font-size:25px;
      text-decoration:none;
      color: #fff;
    }
    
    .user_area{
      padding:2px 0;
      .username{
        float:left;
        color:#FFF;
        padding:11px 5px 5px 5px;
        font-size:14px;
      }
      .circular_before {
        float:left;
        width: 40px;
        height: 40px;
        @include border-radius(200em);
        background-color:#FFF;
        border:1px solid #2c4f89;
        padding:1px;

      }
      .circular {
        width: 40px;
        height: 40px;
        @include border-radius(20px);
      }
    }
  }
}



#maincontainer {
  padding:15px;
  margin-top:60px;
  margin-bottom:20px;
  background-color:#ffffff;
  @include border-radius(5px);
  border:1px solid #b5bdc0;

}

// Sidebar
.sidebar{
  position:relative;
  .accordian_box{

    
  
    .accordian{
      @include border-radius(5px);
      border:1px solid #b3bcc1;
      padding-bottom:2px;

    
      h3.ui-accordion-header{
        background:none;
        background-color: #f4f4f4;
        border:none;
        @include border-radius(0);
        margin:0;
        padding:0;
        border-top:1px solid #b3bcc1 ;
        border-bottom:1px solid #b3bcc1;
        font-size:12px;
        
        &.ui-state-default{
          border-bottom:none;
        }
        span.ui-icon{
          display:none;
        }
        &a{
          padding:7px 7px 7px 7px;
          color:#464747;
        }
        
      }
      
      h3.first_accordian{
        border-top:none;
        
        @include border-radius(5px 5px 0px 0px);
        &.ui-state-active{
          border-bottom:1px solid #b3bcc1 !important;
        }
      }
      
      h3.last_accordian{
        border-bottom:none;
        @include border-radius(0px 0px 0px 0px);
        &.ui-state-active{
          border-bottom:1px solid #b3bcc1 !important;
          
        }
        
      }
      
      div.ui-accordion-content{
        border:none;
        margin:0;
        padding:0;
        height:auto;

        &.ui-accordion-content-active{

          &.ui-corner-bottom{
            @include border-radius(0);
          }
        
        }
      
      }

    }
  }
  
  ul.side_nav{
    margin:0;
    padding:0;
    li{
      list-style-type: none;
      margin:3px;
      a{
        display:block;
        padding:4px;
        padding-left:22px;
        color:#727272;
        font-size:12px;
        &:hover{
          text-decoration:none;
          background-color: #4d84de;
          @include border-radius(2px);
          color:#FFF;
        }
        
      }
      &.active{
        a{
          text-decoration:none;
          background-color: #4d84de;
          @include border-radius(2px);
          color:#FFF;
        
        }
      }
      &.side_nav_header{
        padding-left:7px;
        color:#5b5b5b;
        font-size:10px;
        font-weight:bold;
        padding-top:10px;
      }
    }

    
  }

}

.page{
  .header{
    padding-bottom:15px;
    margin-bottom:25px;
    border-bottom:1px solid #b3bcc1;
    
    .links{
      
    }
    .title{
      padding-top:15px;
      font-size:22px;
      color:#464747;
      font-weight:normal;
      
    }
  }
  .content{
    margin:0;
    padding:0;
  }
  
  
}

.btn{
  padding:7px 15px;
  font-size:12px;
  display:inline;
  @include border-radius(3px);
  margin-right:5px;
}

.btn-primary{
  background:#39be6f;
  border:1px solid #12813d;
  
  &:hover{
    background:#0a9442;
  }
}
.btn-danger{
  background:#d15e5e;
  border:1px solid #c23e3e;
  &:hover{
    background:#bd2828;
  }
}
.btn-regular{
  background:#f4f5f7;
  border:1px solid #b3bcc1;
  &:hover{
    background:#edeeef;
  }
}

td.action_links a{
  color:#707172;
  font-size:18px;
  background:none;
}

input{
  border:1px solid #b3bdbf !important;
}
fieldset{
  @include border-radius(3px);
  background-color:#f4f4f4;
  border:1px solid #b3bcc1 !important;
  margin:0 !important;
  padding:20px !important;
  margin-bottom:20px !important;

}

.hidden{
  display:block;
}



.footer{
  font-size:12px;
  color:#727272;
  margin-bottom:20px;
}

// Default Button & Anchor Buttons
//  
// :active    - Active state, when element is currently active.
// .disabled  - For when you shouldn't be able to click on it.
// .action  - Blue Action Button
// .action.active - Action Active
// .small - Button Small
// .large - Button Large
// .danger - Danger Delete
//
// Styleguide 1.1



ol {
  
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
	
}

ol.sortable {
	margin: 4em 0;
}

.sortable li {
	margin: 7px 0 0 0;
	padding: 0;
}

.sortable li div  {
	border: 1px solid #999;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	padding: 6px;
	margin: 0;
	cursor: move;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, white, #f5f5f5);
  background-image: -ms-linear-gradient(top, white, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, white, #f5f5f5);
  background-image: -o-linear-gradient(top, white, #f5f5f5);
  background-image: linear-gradient(top, white, #f5f5f5);
  background-repeat: repeat-x;
}
span.actions{
  font-size:12px;
  margin-right:10px;
}
.placeholder {
  border: 1px solid #999;
  background-color: #ECECEC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
