%a{:name => "section_3_0"}
.section
  %h1 3.0 - Tables
  %p Contains all table elements for TimeSupply.com

  -# = styleguide_block '2.1' do
  -#     %input{:type => 'text', :class => "$modifier_class"}