%a{:name => "section_8_0"}
.section
  %h1 8.0 - Plugins
  %p Contains all plugins elements for TimeSupply.com

  -# = styleguide_block '2.1' do
  -#     %input{:type => 'text', :class => "$modifier_class"}