%a{:name => "section_7_0"}
.section
  %h1 7.0 - Grid Layouts
  %p Contains all grid layout elements for TimeSupply.com

  -# = styleguide_block '2.1' do
  -#     %input{:type => 'text', :class => "$modifier_class"}