%a{:name => "section_1_0"}
.section
  %h1 1.0 - Buttons & Anchor Buttons
  %p Contains all button elements on TimeSupply

  = styleguide_block '1.1' do
    %button{:class => "$modifier_class"} Button

    
