%a{:name => "section_6_0"}
.section
  %h1 6.0 - Media/Images
  %p Contains all media elements for TimeSupply.com

  -# = styleguide_block '2.1' do
  -#     %input{:type => 'text', :class => "$modifier_class"}