%a{:name => "section_4_0"}
.section
  %h1 4.0 - Typography
  %p Contains all typography elements for TimeSupply.com

  -# = styleguide_block '2.1' do
  -#     %input{:type => 'text', :class => "$modifier_class"}