%a{:name => "section_0_0"}

.section
  %h1 CSS Style Guide Overview
  %p Welcome to the TimeSupply CSS Styleguide. This guide is designed to create uniformity between UI Developers. Before reading this, you should have a general understanding for specificity, the SCSS syntax, and KSS documentation..

  %p While we port our styles over to SCSS with KSS documentation, please make sure to upgrade an entire element's CSS at once. Do not mix small amounts of SCSS in with plain CSS. Do your future self a favor.

  %p Do not add plugin CSS straight into the framework, you must go through it document it, organize, and convert the standard CSS into SCSS
  
  %p Use pixels for fonts, do not use em. This is for consistency

