@import "bourbon";


$bkg_color: #eaeaea;
$container_border_color: #dbdbdb;

$scheme_deafult: #4d84de;
$scheme: #4d84de;
$scheme_background: #eaeaea;
$scheme_content_background: #FFF;


@mixin border-radius($radius){
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
  -o-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}



body{
  color: #7d7d7d;
  position: relative;
  min-width: 1010px;
  font: 12px/21px  Arial, Helvetica, sans-serif;
  background: $scheme_background;
  font-weight:300;
}


a {
  color: darken($scheme, 15%);
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.buttons a:hover {
  cursor: pointer;
}


hr{
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ffffff;
}


ul.list{
  list-style-type:none;
  margin:0;
  padding:0;
  li{

  }
}

ul{
  margin:0;
  padding:0;
  li{

  }
}


h1, h3, h5 {
  margin: 0 0 12px;
  color: #000000;
  font-weight:300;
}

h2, h4 , h6 {
  margin: 0 0 14px;
  color: #36bef2;
  font-weight:300;
}
h1 {
  font-size: 30px;
  line-height: 45px;
  
}
h2 {
  font-size: 30px;
  line-height: 45px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 25px;
}
h4 {
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-size: 19px;
  line-height: 23px;
  margin: 0 0 13px;
}
h6 {
  font-size: 19px;
  line-height: 23px;
}

p{
  font-size:12px;
  color: #000000;
  margin:0 0 20px;
}

.site_container{
  
  margin-right: auto;
  margin-left: auto;
  width:962px;

  
  
  .header{
    position:relative;
    height:150px;
    overflow:hidden;
    
    .logo{
      position: absolute;
      top:40px;
      left:10px;
    }
    .contact_info{
      position: absolute;
      top:10px;
      right:5px;
      font-size:16px;
      text-align:right;
      .contact_details{
        margin-right:6px;
      
        .name{
          font-size:18px;
          font-weight:100;
          margin-bottom:5px;
        }
        .address, .phone, .links{
          font-size:12px;
        }
        .links{
          font-size:22px;
          a{
            text-decoration:none;
          }
        }
      }
    }
  }
    
  .navigation{
    border:1px solid #b5bdc0;
    border-bottom:none;
    @include border-radius(3px 3px 0px 0px);
    background: $scheme;
    
    ul.main_navigation{
      margin:0;
      padding:0;


      li{
        display:inline;
        margin:0;
        padding:0;
        
        a{
          margin:0;
          display: inline-block;
          position: relative;
          font-size: 16px;
          font-weight:550;
          line-height: 25px;
          padding: 12px 18px 12px 18px;
          color: #fff;
          border-right: 1px solid darken($scheme, 20%);
          
          text-decoration: none;
          &:hover{
            color: #3b3b3b;
            background: $scheme_content_background;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
          
        }
        &.active{
          a{
            color: #3b3b3b;
            background: #fff;
          }
          
        }
        &:first-child{
          a{
            @include border-radius(4px 0px 0px 0px);
          }
        }
        &:last-child{
          a{
            border-right:none;
          }
        }
      }
    }
      
    
  }
  
  .main_content{
    position:relative;
    margin:0;
    
    background-color:$scheme_content_background;
    height:auto;
    overflow:auto;
    @include border-radius(0px 0px 4px 4px);
    border:1px solid #b5bdc0;
    border-top:none;
    
    .content_wrapper{
      padding:10px;
    }
    
    .social_links{
      background: $scheme;
      height:60px;

      .icons{
        vertical-align:text-bottom;
        font-size:50px;
        padding:10px;
        padding-top:18px;
        
        
        
        .iconz{
          display: inline-block;
          color:darken($scheme, 35%);
          &:hover{
            cursor:pointer;
            color:lighten($scheme, 35%);
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }
        }
        
        
      }
    }
    .main_footer{
      border-top: 1px solid darken($scheme, 20%);;
      background: darken($scheme, 10%);
      height:200px;
    }
    
  }
  
  .footer{
    
  }
  
  .column_left{
    float:left;
    width:630px;
    margin-right:5px;
  }
  .column_right{
    float:left;
    margin-left:5px;
    width:300px;
    
  }
  
  .image_wrap{
    border: 1px solid #ddd;
    padding: 5px;
    width: auto;
    height:auto;
  }
  
  .page{
    padding: 10px;
    width: auto;
    height:auto;
    overflow:auto;
    margin: 0 0 25px 0;
    
  }
  .widget{
    
    padding: 10px;
    width: auto;
    height:auto;
    overflow:auto;
    margin: 0 0 10px 0;
    
    &.bkg{
      background: #F4F6F5;
    }
    &.border{
      border: 1px solid #d6d6d6;
      @include border-radius(5px);
    }
    
    
    .title{
//      color:#7D8BAB;
//      font-size: 16px;
//      line-height: 22px;
//      margin: 0 0 15px;
      border-bottom: 1px solid #ccc;
    }
    .content{
      font-size: 12px;
      color:#333333;
    }
  }
  
  .featured_listings{
    .single_featured_listing{
      .image_area{
        
      }
      .content_area{
        .address{
          
        }
        .city{
          
        }
        .price{
          
        }
        .bed_bath_sq_foot{
          
        }
      }
    }
  }
  
  
  
  
  
}