@import "bourbon";
@import "select2";


$bkg_color: #eaeaea;
$container_border_color: #dbdbdb;

$scheme_deafult: #4d84de;
$scheme: #4d84de;
$scheme_background: #eaeaea;
$scheme_content_background: #FFF;


@mixin border-radius($radius){
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
  -o-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}



body{
  color: #7d7d7d;
  position: relative;
  min-width: 1010px;
  font: 12px/21px  Arial, Helvetica, sans-serif;
  background: $scheme_background;
  font-weight:300;
}


a {
  color: darken($scheme, 15%);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: darken($scheme, 20%);
  }
}



.buttons a:hover {
  cursor: pointer;
}


hr{
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ffffff;
}


ul.list{
  list-style-type:none;
  margin:0;
  padding:0;
  li{

  }
}

ul{
  margin:0;
  padding:0;
  li{

  }
}


h1, h3, h5 {
  margin: 0 0 12px;
  color: #000000;
  font-weight:300;
}

h2, h4 , h6 {
  margin: 0 0 14px;
  color: #36bef2;
  font-weight:300;
}
h1 {
  line-height: 20px;
  font-size: 16px;
  
}
h2 {
  font-size: 30px;
  line-height: 45px;
}
h3 {
  line-height: 20px;
  margin: 0 0 25px;
  font-size: 16px;
}
h4 {
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-size: 19px;
  line-height: 23px;
  margin: 0 0 13px;
}
h6 {
  font-size: 19px;
  line-height: 23px;
}

p{
  font-size:12px;
  color: #000000;
  margin:0 0 20px;
}

.site_container{
  
  margin-right: auto;
  margin-left: auto;
  width:962px;

  
  
  .header{
    position:relative;
    height:150px;
    overflow:hidden;
    
    .logo{
      position: absolute;
      top:40px;
      left:10px;
    }
    .contact_info{
      position: absolute;
      top:10px;
      right:5px;
      font-size:16px;
      text-align:right;
      .contact_details{
        margin-right:6px;
      
        .name{
          color: $scheme;
          font-size:18px;
          font-weight:100;
          margin-bottom:5px;
        }
        .address, .phone, .links{
          font-size:12px;
        }
        .links{
          font-size:22px;
          a{
            text-decoration:none;
          }
        }

      }
      .image{
        @include border-radius(4px);
        border: 1px solid #bcbcbc;
        padding: 2px;
      }
    }
  }

  .navigation {
    border:1px solid #b5bdc0;
    border-bottom:none;
    @include border-radius(4px 4px 0px 0px);
    background: $scheme;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        float: left;
        a {
          float:left;
          margin:0;
          position: relative;
          font-size: 16px;
          font-weight:550;
          line-height: 25px;
          padding: 12px 18px 12px 18px;
          color: #fff;
          border-right: 1px solid darken($scheme, 20%);
          text-decoration: none;

          &:hover {
            color: #3b3b3b;
            background: $scheme_content_background;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          } 
        }
        // Sub Menu
        ul {
          background: $scheme;
          left: -999em;
          margin: 49px 0 0;
          position: absolute;
          width: auto;
          height:auto;
          overflow:auto;
          z-index: 9999;
          li{
            clear:both;
            width: 100% !important;
            height:auto;
            a{
              display:block !important;
              width: 100% !important;
              color: #FFF;
              margin:0;
              position: relative;
              @include border-radius(0px);


              &:hover{
                color: #3b3b3b;
                background: $scheme_content_background;
                cursor: pointer;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
              }
            }
          }
        }
        &:hover ul {
          left: auto;
        }
      }
      &.active{
        a{
          color: #3b3b3b;
          background: #fff;
        }
        
      }
      &:first-child{
        a{
          @include border-radius(2px 0px 0px 0px);
        }
      }
      &:last-child{
        a{
          border-right:none;
        }
      }
    }
  }
  
  
  .main_content{
    position:relative;
    margin:0;
    
    background-color:$scheme_content_background;
    height:auto;
    overflow:auto;
    @include border-radius(0px 0px 6px 6px);
    border:1px solid #b5bdc0;
    border-top:none;
    
    .content_wrapper{
      padding:10px;
    }
    
    .social_links{
      background: $scheme;
      height:60px;

      .icons{
        vertical-align:text-bottom;
        font-size:50px;
        padding:10px;
        padding-top:18px;
        
        
        
        .iconz{
          display: inline-block;
          color:darken($scheme, 35%);
          &:hover{
            cursor:pointer;
            color:lighten($scheme, 35%);
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }
        }
        
        
      }
    }

    .widget{
      
      padding: 10px;
      width: auto;
      height:auto;
      overflow:auto;
      margin: 0 0 10px 0;
      

      
      
      .title{
  //      color:#7D8BAB;
  //      font-size: 16px;
  //      line-height: 22px;
        margin: 0 0 10px;
        border-bottom: 1px solid #ccc;
        font-weight:200 !important;
        font-size: 16px;
      }
      .content{
        font-size: 12px;
        color:#333333;
      }

      &.bkg{
        background: #f7f7f7;
        border: 1px solid #d6d6d6;
        @include border-radius(5px);
        .title{
          color:#7D8BAB;
        }
      }

      .recent_blog_posts{
        .link{
          
        }
        .content{
          margin-left:16px;
          margin-bottom:12px;
        }
      }
    }

    .main_footer{
      border-top: 1px solid darken($scheme, 20%);;
      background: darken($scheme, 10%);
      height:auto;
      overflow:auto;
      padding:10px;
      @include border-radius(0px 0px 6px 6px);

      .widget{
        float:left;
        width:280px;
        margin-left:5px;
        margin-right:5px;

        

        &.border{
          border: 1px solid #e5e5e5;
        }
        
        .title{
          color:#FFF;
          border-bottom: 1px solid #ccc;
        }
        .content{
          color:#FFF;
          a{
            color:#FFF;
          }
        }

        &.bkg{
          background: #f7f7f7;
          border: 1px solid #e5e5e5;
          .title{
            border-bottom: 1px solid #ccc;
            color:#4c4c4c;
          }
          .content{
            color:#333333;
          }
        }
      }


    }
    
  }

  
  .footer{
    margin-top:10px;
    margin-bottom:10px;
    
  }
  
  .column_left{
    float:left;
    width:630px;
    margin-right:5px;
  }
  .column_right{
    float:left;
    margin-left:5px;
    width:300px;
    
  }
  
  .image_wrap{
    border: 1px solid #ddd;
    padding: 5px;
    width: auto;
    height:auto;
  }
  
  .page{
    padding: 10px;
    width: auto;
    height:auto;
    overflow:auto;
    margin: 0 0 25px 0;
    
  }

  
  .featured_listings{
    overflow:auto;


    .single_featured_listing{
      .image_area{
        float:left;
        width:338px;
        height: 250px;
        border: 1px solid #ddd;
        padding: 5px;
        position:relative;

      }
      .content_area{
        float:left;
        width:260px;
        height:258px;
        margin-left:10px;
        margin-right:10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        .address{
          font-size: 22px;
          line-height: 18px;
          
          border-bottom: 1px solid #ddd;
          text-align:center;
          padding-top: 7px;
          padding-bottom: 4px;
          margin-bottom: 8px;
          a{
            color: $scheme;
            text-decoration: none;
          }
          
        }
        .city{
          font-size: 10px;
          color:#888888;
          text-transform: uppercase;
          
        }
        .price{
          margin-top:6px;
          margin-bottom:6px;
          font-size: 20px;
          line-height: 20px;
          color: darken($scheme, 20%);
          text-align:center;
          font-weight:bold;
          
        }
        .bed_bath_sq_foot{
          font-size: 13px;
          color:#888888;
          margin:0 0 15px;
          text-align:center;
          
        }
        .link{
          float:right;
          margin-top:8px;
          a{
            text-decoration: none
          }
        }
      }
    }
  }
  .featured_listings_nav{
    text-align:center;
    margin-top:5px;
    width:360px;
    a{
      text-align:center;
      font-size: 12px;
      text-decoration: none;
      color: $scheme;
      border: 1px solid #ddd;
      @include border-radius(4px);
      padding:3px 5px;
      margin: 0 2px 0 0;
      &.activeSlide, &:focus{
        color: darken($scheme, 40%);
        background-color: lighten(#ddd, 10%);

      }

    }
  }
  
  .ribbon{
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;


    
    
    .ribbon_green {
      font: bold 12px Sans-Serif;
      color: #124666;
      text-align: center;
      text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
      @include transform(rotate(45deg));
      position: relative;
      padding: 7px 0;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #BFDC7A;

      @include box-shadow(0px 0px 3px rgba(0,0,0,0.3));
      
      &:before, &:after{
        content: "";
        border-top: 3px solid #6e8900;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position:absolute;
        bottom: -3px;
      }
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
    }
    .ribbon_blue{
      @extend .ribbon_green;
      @include linear-gradient(#34BFEF, #176FB7);
      color: #FFF;
      text-shadow: rgba(0,0,0,0.9) 0px 1px 0px;
      &:before, &:after{
        border-top: 3px solid #26639b;
      }
    }
    
    &.left{
      top: -3px;
      left: -22px; 
      .ribbon_green {
        @include transform(rotate(-45deg));
        right: -5px;

        &:before, &:after{
          content: "";
          border-top: 3px solid #6e8900;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          position:absolute;
          bottom: -3px;
        }
        &:before{
          left: 0;
        }
        &:after{
          right: 0;
        }
      }
    }
  }
  

  .user_area{

    .logged_in{
      height:auto;
      overflow:auto;
      background-color: #f7f7f7;
      border: 1px solid #e5e5e5;
      
      padding:5px;
      @include border-radius(5px);
      .image_area{
        float:left;
        width:50px;
        border: 1px solid #ddd;
        padding: 2px;
        margin-left: 5px;
        @include border-radius(2px);

      }
      .content_area{
        float:left;
        width:200px;
        text-align: right;
        .name{
          font-size:14px;
          line-height:14px;
          color: $scheme;
        }
        .logout{
          font-size:12px;
          a{
            color: #6b6b6b;
          }
        }
      }
    }
  }
  #map{
    width:280px;
    height:200px;
  }

  .field{
    margin:0 0 10px;
    width:250px;
  }

  input[type="text"], select{
    @include border-radius(3px);
    display:block;
    width:250px;
    height:20px;
    font-size:12px;
    line-height: 18px;
    vertical-align: middle;
    color:#404040;  
    border-top: 1px solid #A8A8A8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #A8A8A8;
    padding: 5px;
    margin: 0px;
    @include box-shadow(inset 1px 1px 1px 1px #F0F0F0);
    outline: none;
    &:focus{
      outline:none;
    }
    &.inline{
      display: inline-block;

    }
  }

  select{
    width:250px;
  }

  .multiple_listings{

    .listing{
  //    float:left;
      position: relative;
      border: 1px solid $container_border_color;
      padding: 5px;
      width: 190px;
      height:auto;
      margin:10px;
      margin-bottom:15px;
      @include border-radius(3px);
      @include box-shadow(1px 1px 0px 0px rgba(153, 153, 153, 0.50));
      
      &:hover{
        border: 1px solid #7ABAE2;
        @include box-shadow(0px 0px 2px 2px rgba(89, 186, 255, 0.55));
        .image_area{
          img{
            border: 1px solid #7ABAE2;
          }
        }
      }
      
      
      .ribbon{
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;
        
        
        .ribbon_green {
          font: bold 12px Sans-Serif;
          color: #124666;
          text-align: center;
          // text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
          @include transform(rotate(45deg));
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background-color: #BFDC7A;
          // @include linear-gradient(#BFDC7A, #8EBF45);

          @include box-shadow(0px 0px 3px rgba(0,0,0,0.3));
          
          &:before, &:after{
            content: "";
            border-top: 3px solid #6e8900;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position:absolute;
            bottom: -3px;
          }
          &:before{
            left: 0;
          }
          &:after{
            right: 0;
          }
        }
        .ribbon_blue{
          @extend .ribbon_green;
          @include linear-gradient(#34BFEF, #176FB7);
          color: #FFF;
          text-shadow: rgba(0,0,0,0.9) 0px 1px 0px;
          &:before, &:after{
            border-top: 3px solid #26639b;
          }
        }
        
        
      }
      
      
      .image_area{

        img{

          padding: 2px;
          
          
        }
      }
      .content_area{
        .address{
          font-size: 18px;
          line-height: 18px;
          color:#59BAFF;
        }
        .city{
          font-size: 10px;
          color:#888888;
          margin:0 0 10px;
          text-transform: uppercase;
          
        }
        .price{
          font-size: 14px;
          color:#353A44;
          line-height: 20px;
          font-weight:bold;
          
        }
        .bed_bath_sq_foot{
          font-size: 12px;
          color:#353A44;
          margin:0 0 15px;
          
        }
        .public_remarks{
          font-size: 11px;
          color:#353A44;
          margin:0 0 15px;       
        }
      }
      
      .extras_area{
        margin-left:2px;
        .extra{
          float:left;
          width:42px;

          font-size: 10px;
          color:#808284;
          margin:0;
          padding: 0;

          i{
            font-size: 18px;
            float:left;
          }
          img{
            float:left;
  //          padding: 5px 0px 3px 3px;
          }
          span{
            float:left;
            padding: 2px 3px 0px 3px;
            
          }
          &:last-child{
            border-right: none;
          }
        }
      }
      
    }
    
    
  }

  .blog_posts_container{
    width:auto;
    height:auto;
    overflow:auto;

    ul.blog_posts_ul{
      margin:0;
      padding:0;
      list-style-type:none;

      li.blog_posts{
        margin:0;
        padding:0;
        border-bottom:1px solid $container_border_color;
        margin-bottom:15px;
        padding-bottom:10px;
        margin-top:15px;
        padding-top:10px;

        &.no_blogs{
          border-bottom:none;
          .title_container{
            .title{
              text-align:center;
            }
          }
        }

        .title_container{
          .title{
            font-size:18px;
            a{
              font-weight:400;
            }
          }
          .details{
            margin-bottom:10px;
            font-size:10px;

            .date{
              border-right:1px solid $container_border_color;
              margin-right:5px;
              padding-right:5px;
            }
            .views{
              border-right:1px solid $container_border_color;
              margin-right:5px;
              padding-right:5px;

            }
            .comments{

            }
          }
          
        }

        .content_container{
          .content{

          }
        }
        .read_more_container{
          text-align:right;
          font-size:12px;
          font-style:italic;
          a{

          }
        }

      }

    }



  }


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

}


.formtastic {
  width:250px !important;
  fieldset{
    margin:0 !important;
    padding:0 !important;
    width:250px !important;
  }
  ol, ul {
    list-style-type: none !important;
    margin:0 !important;
    padding:0 !important;

    li {
      list-style-type: none !important;
      margin-left:0 !important;

      label {
        margin-left:0 !important;
        text-align:left !important;


        abbr[title='required'] {
          color: red;
        }
      }

      .inline-errors {
        font-size: 0.7em;
        font-style: italic;
        font-weight: bold;
        color: red;
      }

      &.error {
        label {
          color: red;
        }
      }
    }
  }

  .button, footer {
    padding-top: 10px;
    border-top: 1px solid #aeaeae;
  }

  .errors {
    background-color: #ff762b;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;

    li {
      font-size: 0.8em;
      margin-bottom: 5px;
    }
  }
}


}


.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modal {
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 1050;
  width: 700px;
  margin: -250px 0 0 -250px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 50%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  font-size:18px;

  .close {
    cursor:pointer;
    background:none;
    border:none;
    margin-top: 2px;
  }
}

.modal-body {
  max-height: 600px;
  min-height: 600px;
  height: 600px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}