@import "bourbon";

body{
  margin:0;
  padding:0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  background-color: #EFEFEF;
}

hr{
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ffffff;
}

// Sets up the default no padding, no margin and removes list bullets
ul.list{
  list-style-type:none;
  li{
    line-height: 18px;
  }
}

ul{
  li{
    line-height: 18px;
  }
}


h1 {
  font-size:36px;
  line-height:42px;
  margin:0 0 24px;
  color: #353A44;
}

p{
  font-size:12px;
  color: #353A44;
  margin:0 0 20px;
  img{
    margin:10px;
    border: 1px solid #ddd;
    padding: 5px;
  }
}

.container{
  background-color:#FFFFFF;
  margin-right: auto;
  margin-left: auto;
  width:962px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  
  *zoom: 1;
  
  &:before {
    display: table;
    content: ""; 
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  
  .header{
    
  }
  
  .main_content{
    padding:10px;
  }
  
  .footer{
    
  }
  
  .column_left{
    float:left;
    width:680px;
    margin-right:5px;
  }
  .column_right{
    float:left;
    margin-left:5px;
    width:250px;
    
  }
  
  .image_wrap{
    border: 1px solid #ddd;
    padding: 5px;
    width: auto;
    height:auto;

  }
  
  .page{
    padding: 10px;
    width: auto;
    height:auto;
    overflow:auto;
    margin: 0 0 25px 0;
    
  }
  .widget{
    
    padding: 10px;
    width: auto;
    height:auto;
    overflow:auto;
    border: 1px solid #d6d6d6;
    @include border-radius(5px);
    background: #F4F6F5;
    margin: 0 0 10px 0;
    
    
    .title{
      color:#7D8BAB;
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 15px;
      border-bottom: 1px solid #ccc;
    }
    .content{
      font-size: 12px;
      color:#333333;
    }
  }
  
  
}