h1 {
  color: #353A44;
}

p{
  color: #353A44;
  img{
    margin:10px;
    border: 1px solid #ddd;
    padding: 5px;
  }
}

body {
  color: #7d7d7d;
  position: relative;
  min-width: 1010px;
  font: 12px/21px  Arial, Helvetica, sans-serif;
  background: #eaeaea;
  padding: 0 0 0px 0;
}