


.section
  %h1 Model and Controller Schemas
  %p To regenerate new schema please run the following rake command, this will generate new images automatically
  %p
    .example
      rake diagram:all
      
  %hr
  
  %table
    %tr
      %th Model Complete
      %th Model Brief
      %th Collection Complete
      %th Collection Brief
      
    %tr
      %td
        = link_to image_tag('dev/models_complete.png', :size => '200x200'), 'assets/dev/models_complete.png', :target => '_blank'
      %td
        = link_to image_tag('dev/models_brief.png', :size => '200x200'), 'assets/dev/models_brief.png', :target => '_blank'
      %td
        = link_to image_tag('dev/controllers_complete.png', :size => '200x200'), 'assets/dev/controllers_complete.png', :target => '_blank'
      %td
        = link_to image_tag('dev/controllers_brief.png', :size => '200x200'), 'assets/dev/controllers_brief.png', :target => '_blank'
