%h1 
  %i.icon-home
  Listings

.multiple_listings
  - @listings.each do |listing|
    = render 'listings', :listing => listing

= will_paginate @listings, :page_links => false, :params => { :controller => "listings", :action => "" }
